{
  "rules": {
    "func-names": ["off"],  // this line is intended to stay
    "comma-spacing": ["off"],
    "no-unused-expressions": ["off"],
    "import/newline-after-import": ["off"],
    "import/first": ["off"],
    "no-unused-vars": ["off"]
  }
}
